## 1. Preprocessing: 
## a) Find any null values are present or not, If present remove those data.
## b) Remove the data that have less than 5 reviews
## c) Clean the data and remove the special characters and replace the contractions with its expansion. Convert the uppercase character to lower case. Also, remove the punctuations.

In [65]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [66]:
# Load datset
df = pd.read_csv("Womens Clothing E-Commerce Reviews.csv")
df.head()

,S. No,Clothing ID,Age,Title,Review Text,Rating,Positive Feedback Count,Division Name,Department Name,Category,Recommended IND
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,0,Initmates,Intimate,Intimates,1
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,4,General,Dresses,Dresses,1
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,General,Dresses,Dresses,0
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,0,General Petite,Bottoms,Pants,1
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,6,General,Tops,Blouses,1

In [67]:
# Remove entries with null values
df = df.dropna()

In [68]:
# Remove data with less than 5 reviews
df = df[df['Clothing ID'].map(df['Clothing ID'].value_counts()) >= 5]

In [69]:
contractions = {
"a'ight":"alright",
"ain't":"are not",
"amn't":"am not",
"aren't":"are not",
"can't":"cannot",
"'cause": "because",
"could've":"could have",
"couldn't":"could not",
"couldn't've":"could not have",
"daren't":"dare not",
"daresn't":"dare not",
"dasn't":"dare not",
"didn't":"did not",
"doesn't":"does not",
"don't":"do not",
"everybody's":"everybody is",
"everyone's":"everyone is",
"giv'n":"given",
"gonna":"going to",
"gon't":"go not", 
"gotta":"got to",
"hadn't":"had not",
"had've":"had have",
"hasn't":"has not",
"haven't":"have not",
"he'd":"he had", 
"he'll":"he will",
"he's":"he is",
"here's":"here is",
"how'd":"how did",
"how'll":"how will",
"how're":"how are",
"how's":"how is",
"I'd":"I had",
"I'd've":"I would have",
"I'd'nt":"I would not",
"I'd'nt've":"I would not have",
"I'll":"I will",
"I'm":"I am",
"I've":"I have",
"isn't":"is not",
"it'd":"it would",
"it'll":"it will",
"it's":"it is",
"let's":"let us",
"ma'am":"madam",
"mayn't":"may not",
"may've":"may have",
"mightn't":"might not",
"might've":"might have",
"mustn't":"must not",
"mustn't've":"must not have",
"must've":"must have",
"needn't":"need not",
"needn't've":"need not have",
"o'clock":"of the clock",
"oughtn't":"ought not",
"oughtn't've":"ought not have",
"shan't":"shall not",
"she'd":"she would",
"she'll":"she will",
"she's":"she is",
"should've":"should have",
"shouldn't":"should not",
"shouldn't've":"should not have",
"somebody's":"somebody is",
"someone's":"someone is",
"something's":"something is",
"so're":"so are",
"so’s":"so is",
"so’ve":"so have",
"that'll":"that will",
"that're":"that are",
"that's":"that is",
"that'd":"that would",
"there'd":"there would",
"there'll":"there will",
"there're":"there are",
"there's":"there is",
"these're":"these are",
"these've":"these have",
"they'd":"they would",
"they'll":"they will",
"they're":"they are",
"they've":"they have",
"this's":"this is",
"those're":"those are",
"those've":"those have",
"to've":"to have",
"wasn't":"was not",
"we'd":"we would",
"we'd've":"we would have",
"we'll":"we will",
"we're":"we are",
"we've":"we have",
"weren't":"were not",
"what'd":"what did",
"what'll":"what will",
"what're":"what are",
"what's":"what is",
"what've":"what have",
"when's":"when is",
"where'd":"where did",
"where'll":"where will",
"where're":"where are",
"where's":"where is",
"where've":"where have",
"which'd":"which would",
"which'll":"which will",
"which're":"which are",
"which's":"which is",
"which've":"which have",
"who'd":"who would",
"who'd've":"who would have",
"who'll":"who will",
"who're":"who are",
"who's":"who is",
"who've":"who have",
"why'd":"why did",
"why're":"why are",
"why's":"why is",
"won't":"will not",
"would've":"would have",
"wouldn't":"would not",
"wouldn't've":"would not have",
"y'at":"you at",
"yes’m":"yes madam",
"you'd":"you would",
"you'll":"you will",
"you're":"you are",
"you've":"you have"}

In [70]:
def cont_to_exp(x):
    if type(x) is str:
        x = x.replace('\\','')
        # Remove punctuation and special char
        punc = ['.', ',', '!', '?', '-']
        for i in range(0, len(punc)):
            x = x.replace(punc[i], '')
        # Replace contractions
        for key in contractions:
            value = contractions[key]
            x = x.replace(key, value)
    return x

In [71]:
df["Review Text"] = df["Review Text"].apply(lambda x:cont_to_exp(x))
df.head()

,S. No,Clothing ID,Age,Title,Review Text,Rating,Positive Feedback Count,Division Name,Department Name,Category,Recommended IND
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,General,Dresses,Dresses,0
3,3,1049,50,My favorite buy!,I love love love this jumpsuit it is fun flirt...,5,0,General Petite,Bottoms,Pants,1
5,5,1080,49,Not for the very petite,I love tracy reese dresses but this one is not...,2,4,General,Dresses,Dresses,0
6,6,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,General Petite,Tops,Knits,1
7,7,858,39,"Shimmer, surprisingly goes with lots",I ordered this in carbon for store pick up and...,4,4,General Petite,Tops,Knits,1

## 2. Separate the columns into dependent and independent variables (or features and labels). Then you split those variables into train and test sets (80:20).

In [72]:
from textblob import TextBlob

In [73]:
df['polarity'] = df["Review Text"].apply(lambda x: TextBlob(x).sentiment.polarity)
df.head()

,S. No,Clothing ID,Age,Title,Review Text,Rating,Positive Feedback Count,Division Name,Department Name,Category,Recommended IND,polarity
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,General,Dresses,Dresses,0,0.076392
3,3,1049,50,My favorite buy!,I love love love this jumpsuit it is fun flirt...,5,0,General Petite,Bottoms,Pants,1,0.500000
5,5,1080,49,Not for the very petite,I love tracy reese dresses but this one is not...,2,4,General,Dresses,Dresses,0,0.178750
6,6,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,General Petite,Tops,Knits,1,0.133750
7,7,858,39,"Shimmer, surprisingly goes with lots",I ordered this in carbon for store pick up and...,4,4,General Petite,Tops,Knits,1,0.171635

In [74]:
pred_df = df[["Rating", "polarity", "Positive Feedback Count", "Recommended IND"]]
pred_df.head()

   Rating  polarity  Positive Feedback Count  Recommended IND
2       3  0.076392                        0                0
3       5  0.500000                        0                1
5       2  0.178750                        4                0
6       5  0.133750                        1                1
7       4  0.171635                        4                1

In [75]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(pred_df.drop("Recommended IND", axis = 1), pred_df["Recommended IND"], test_size=0.2)

## 3. Apply the Naïve Bayes Classification Algorithm on Sentiment category to predict if item is recommended

In [76]:
from sklearn.naive_bayes import GaussianNB

In [81]:
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [82]:
print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (y_test != y_pred).sum()))

Number of mislabeled points out of a total 3681 points : 259

## 4. Tabulate accuracy in terms of precision, recall and F1 score.

In [79]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [80]:
print("Precision Score: ", precision_score(y_test, y_pred))
print("Recall Score: ", recall_score(y_test, y_pred))
print("F1 Score: ", f1_score(y_test, y_pred, average='micro'))

Precision Score:  0.9786264891380518
Recall Score:  0.9338014042126379
F1 Score:  0.9296386851399077